@charset "UTF-8";
/* Variables Globales */
/* Fin Variables Globales */
/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Orbitron:wght@500&family=Poppins:wght@400;500;600;700&display=swap");
/* Fin fuentes */
/* Reseteo y configuración general */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgba(96, 182, 229, 0.4431372549);
  font-family: "Montserrat";
  text-align: center;
  line-height: 1.5;
}
@media (min-width: 500px) {
  body {
    background-color: white;
  }
}
@media (min-width: 1024px) {
  body {
    background-color: rgba(96, 182, 229, 0.4431372549);
  }
}

/* Fin reseteo y configuración general */
/* Extend */
.neoCelesteRedondo, .logoForm, .circulo2, .circulo1 {
  border-radius: 50%;
  background: #B9DEF1;
  box-shadow: 5px 5px 10px #90adbc, -5px -5px 10px #e2ffff;
}

.neoCelesteCuadrado, .enviarForm, .linkUPH, .linkPHV3, .contactarCon, .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo .enviar, .embolturaH .mainGridH .section3GridH .contenedorForm {
  background: #B9DEF1;
  box-shadow: 5px 5px 10px #90adbc, -5px -5px 10px #e2ffff;
}

.neoImput, .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo input {
  background: #B9DEF1;
  box-shadow: inset 5px 5px 10px #90adbc, inset -5px -5px 10px #e2ffff;
}

/* Fin Extend */
/* Mixin */
/* Fin Mixin */
/* Nav bar */
header {
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  padding: 1rem;
  border-bottom: 0.2em solid white;
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 10;
}
header nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  cursor: pointer;
  display: block;
  margin-right: 0.1em;
}
@media (min-width: 700px) {
  header nav .checkbtn {
    display: none;
  }
}
header nav #check:checked ~ ul {
  left: 0;
}
header nav #check {
  display: none;
}
header nav #check:checked ~ .li {
  display: block;
}
header nav #check:checked ~ label.checkbtn .close {
  display: block;
}
header nav #check:checked ~ label.checkbtn .menu {
  display: none;
}
header nav label .menu {
  color: white;
  float: right;
  cursor: pointer;
  display: block;
  margin-right: 7px;
  margin-top: 5px;
}
@media (min-width: 700px) {
  header nav label .menu {
    display: none;
  }
}
header nav label .close {
  display: none;
  margin-top: 10px;
  margin-right: 3.5px;
}
@media (min-width: 700px) {
  header nav label .close {
    display: none;
  }
}
header nav a .enlace {
  display: none;
}
header nav a .logo {
  width: 90px;
  height: 39px;
  padding: 0.2em;
  margin-left: 13px;
  border: 0.2em solid white;
  float: left;
}
header nav ul {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 32, 0.79);
  top: 60px;
  left: -100%;
  text-align: center;
  transition: all 0.7s;
  padding: 0px;
}
@media (min-width: 700px) {
  header nav ul {
    display: flex;
    justify-content: center;
    left: 0%;
    background-color: none;
    transition: none;
    width: 84%;
    height: 0%;
    margin-top: -50px;
    margin-left: 102px;
  }
}
header nav ul li {
  line-height: 1em;
  margin: 11vh 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  header nav ul li {
    margin-top: 14px;
    height: 7%;
  }
}
header nav ul li a {
  color: white;
  font-size: 1.7em;
  padding: 0.5em;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 700px) {
  header nav ul li a {
    font-weight: 600;
    font-size: 115%;
    border-radius: 30px;
    margin-left: 3px;
    margin-top: 10px;
  }
}
@media (min-width: 800px) {
  header nav ul li a {
    font-size: 13px;
  }
}
@media (min-width: 900px) {
  header nav ul li a {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  header nav ul li a {
    font-size: 15px;
    margin-left: 20px;
  }
}
header nav ul li a.active, header nav ul li a:hover {
  background: white;
  color: rgba(0, 14, 70, 0.86);
  transition: all 0.3s;
}

/* Fin Nav bar */
/* Textos */
h1 {
  color: white;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  padding: 1em 0;
  background-color: rgba(6, 6, 6, 0.329);
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
@media (min-width: 500px) {
  h1 {
    font-size: 4em;
    height: 40vh;
  }
}
@media (min-width: 700px) {
  h1 {
    height: 44vh;
  }
}
@media (min-width: 900px) {
  h1 {
    font-size: 5em;
  }
}
@media (min-width: 1024px) {
  h1 {
    height: 90.65vh;
    font-size: 7em;
  }
}

h2 {
  color: white;
  font-family: "Orbitron";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 1em 0;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  border-top: 0.15em solid white;
  border-bottom: 0.15em solid white;
  margin: 25px 0;
}
@media (min-width: 500px) {
  h2 {
    font-size: 23px;
    padding: 0.5em 0.3em;
    border: 0.15em solid white;
    border-radius: 30em;
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  h2 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 33px;
    background: none;
    color: rgba(0, 14, 70, 0.86);
    border: none;
    padding: 0px;
    font-weight: bold;
  }
}

@media (min-width: 500px) {
  .h2Libr {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}

h3 {
  color: rgba(0, 14, 70, 0.86);
  font-weight: 600;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
}
@media (min-width: 500px) {
  h3 {
    font-size: 16px;
  }
}
@media (min-width: 900px) {
  h3 {
    font-size: 17px;
  }
}

p {
  color: rgba(0, 14, 70, 0.86);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin: 25px 2em;
}
@media (min-width: 500px) {
  p {
    margin: 0;
    font-size: 15px;
    text-align: justify;
  }
}
@media (min-width: 900px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  p {
    font-size: 17px;
  }
}

/* Fin textos */
/* Imagenes e iframes */
img {
  width: 80%;
  height: auto;
  border-radius: 2em;
}
@media (min-width: 500px) {
  img {
    width: 100%;
    margin: 0;
  }
}

iframe {
  width: 80%;
  height: auto;
  border-radius: 2em;
}
@media (min-width: 500px) {
  iframe {
    width: 100%;
    height: 50vh;
  }
}
@media (min-width: 800px) {
  iframe {
    height: 45vh;
  }
}
@media (min-width: 1024px) {
  iframe {
    height: 47vh;
  }
}

.redondeadoProtesis {
  border-radius: 3em;
}

.circulo1 {
  padding: 1em;
  height: 50%;
  width: 50%;
  border: 0.3em solid white;
  margin: 0 25%;
}
@media (min-width: 500px) {
  .circulo1 {
    height: 70%;
    width: 70%;
    margin: 0 15% 0 15%;
  }
}
@media (min-width: 1024px) {
  .circulo1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ffffff;
    box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
    border: 0.3em solid rgba(96, 182, 229, 0.4431372549);
  }
}

.circulo2 {
  padding: 1em;
  height: 50%;
  width: 50%;
  border: 0.3em solid white;
  margin: 0 25%;
}
@media (min-width: 500px) {
  .circulo2 {
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
@media (min-width: 1024px) {
  .circulo2 {
    background: #ffffff;
    box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
    border: 0.3em solid rgba(96, 182, 229, 0.4431372549);
  }
}

.logoForm {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
@media (min-width: 500px) {
  .logoForm {
    width: 40%;
    height: 40%;
  }
}
@media (min-width: 600px) {
  .logoForm {
    width: 30%;
    height: 30%;
  }
}
@media (min-width: 1024px) {
  .logoForm {
    padding: 0.5em;
    box-shadow: 5px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
  }
}

/* Fin imagenes e iframes */
/* Srcoll Bar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #0083FF;
}

body::-webkit-scrollbar-track {
  background: rgb(8, 15, 40);
}

/* Fin Srcoll Bar */
/* Grid Area Home */
.headerGridH {
  grid-area: headerGridH;
}

.mainGridH {
  grid-area: mainGridH;
}

.h1GridH {
  grid-area: h1GridH;
}

.section1GridH {
  grid-area: section1GridH;
}

.section2GridH {
  grid-area: section2GridH;
}

.section3GridH {
  grid-area: section3GridH;
}

.footerGridH {
  grid-area: footerGridH;
}

.h3-FooterH {
  grid-area: h3-FooterH;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-FooterH {
  grid-area: ul-FooterH;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-FooterH {
  grid-area: p-FooterH;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embolturaH {
  display: grid;
  grid-template-areas: "headerGridH" "mainGridH" "footerGridH";
}
.embolturaH .mainGridH {
  display: grid;
  grid-template-areas: "h1GridH" "section1GridH" "section2GridH" "section3GridH";
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section1GridH {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaH .mainGridH .section1GridH {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section1GridH {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section1GridH .nosotrosH2Logo {
    float: left;
    width: 50%;
    margin: 0px 20px 10px 0px;
  }
}
@media (min-width: 700px) {
  .embolturaH .mainGridH .section1GridH .nosotrosH2Logo {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section1GridH .nosotrosH2Logo {
    width: 30%;
    margin-bottom: 0px;
  }
}
.embolturaH .mainGridH .section2GridH {
  margin-bottom: 25px;
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section2GridH {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaH .mainGridH .section2GridH {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section2GridH {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
.embolturaH .mainGridH .section3GridH {
  margin-top: 5px;
  margin-bottom: 25px;
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH {
    margin: 20px 20px 20px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaH .mainGridH .section3GridH {
    margin: 40px 60px 40px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section3GridH {
    width: 80%;
    margin: 5% 10% 5% 10%;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm {
  color: rgba(0, 14, 70, 0.86);
  padding: 15px;
  text-align: center;
  margin: 0 28px;
  border-radius: 20px;
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm {
    padding: 2em;
    gap: 25px;
    border: 0.2em solid white;
    margin: 0px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024Px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm {
    background-image: url(../assets/img/fondos/fondoMarmolBlanco.jpg);
  }
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formPrimero {
    width: 50%;
    margin-bottom: 0px;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formPrimero .formLabelImg {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formPrimero .formLabelImg {
    margin-bottom: 0px;
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formPrimero .formLabelImg {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formPrimero .formLabelImg {
    font-size: 17px;
  }
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo {
    width: 50%;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo label {
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 500px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo label {
    font-size: 15px;
  }
}
@media (min-width: 900px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo label {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo label {
    font-size: 17px;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo input {
  color: rgba(0, 14, 70, 0.86);
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  padding: 0.5em;
  border: none;
  margin: 0.5rem;
  text-align: center;
  border-radius: 8px;
}
@media (min-width: 900px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo input {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo input {
    font-size: 17px;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo input:hover {
  color: white;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  box-shadow: none;
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo .enviar {
  color: white;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  border: 0.2em solid white;
  border-radius: 25px;
  font-family: "Orbitron";
  font-size: 13px;
}
@media (min-width: 900px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo .enviar {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo .enviar {
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  }
}
.embolturaH .mainGridH .section3GridH .contenedorForm .formSegundo .enviar:hover {
  color: rgba(0, 14, 70, 0.86);
  border: 0.2em solid rgba(0, 14, 70, 0.86);
  background: white;
  transition: 0.3s;
}
.embolturaH .footerGridH {
  display: grid;
  margin: 0em;
  grid-template-areas: "h3-FooterH" "ul-FooterH" "p-FooterH";
}
@media (min-width: 500px) {
  .embolturaH .footerGridH {
    display: grid;
    grid-template-areas: "h3-FooterH ul-FooterH" "p-FooterH p-FooterH";
  }
}
@media (min-width: 700px) {
  .embolturaH .footerGridH {
    display: grid;
    grid-template-areas: "h3-FooterH ul-FooterH p-FooterH";
  }
}

/* Fin Grid Area Home */
/*Bootstrap Galería*/
@media (min-width: 500px) {
  .h2Galeria {
    margin-bottom: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 700px) {
  .h2Galeria {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}

.row {
  --bs-gutter-x: 0rem;
  margin: 0px;
}

.galeria1 {
  width: 80%;
  height: 100%;
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
  padding: 3%;
  padding-top: 0px;
  border-radius: 30px;
}
@media (min-width: 500px) {
  .galeria1 {
    width: 100%;
    padding: 5%;
    margin: 0px;
    border-radius: 40px;
  }
}

.galeria {
  width: 80%;
  height: 100%;
  margin-left: 2em;
  margin-right: 2em;
  padding: 3%;
  border-radius: 30px;
}
@media (min-width: 500px) {
  .galeria {
    width: 100%;
    padding: 5%;
    margin: 0px;
    border-radius: 40px;
  }
}

.galeria6 {
  width: 80%;
  height: 100%;
  margin-left: 2em;
  margin-right: 2em;
  padding: 3%;
  padding-bottom: 0px;
  border-radius: 30px;
}
@media (min-width: 500px) {
  .galeria6 {
    width: 100%;
    padding: 5%;
    margin: 0px;
    border-radius: 40px;
  }
}

/*Fin Bootstrap Galería*/
/* Grid Area Modelos Gratuitos */
.headerGridM {
  grid-area: headerGridM;
}

.mainGridM {
  grid-area: mainGridM;
}

.h1GridM {
  grid-area: h1GridM;
}

.section1GridM {
  grid-area: section1GridM;
}

.section2GridM {
  grid-area: section2GridM;
}

.section3GridM {
  grid-area: section3GridM;
}

.footerGridM {
  grid-area: footerGridM;
}

.h3-FooterM {
  grid-area: h3-FooterM;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-FooterM {
  grid-area: ul-FooterM;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-FooterM {
  grid-area: p-FooterM;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embolturaM {
  display: grid;
  grid-template-areas: "headerGridM" "mainGridM" "footerGridM";
}
.embolturaM .mainGridM {
  display: grid;
  grid-template-areas: "h1GridM" "section1GridM" "section2GridM" "section3GridM";
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section1GridM {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaM .mainGridM .section1GridM {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM {
    width: 80%;
    margin: 5% 10% 0% 10%;
    display: flex;
    padding: 2%;
    gap: 2%;
  }
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 {
    width: 39%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
}
@media (min-width: 700px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid #carouselExampleDark .carousel-indicators {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
.embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid #carouselExampleDark .carousel-control-prev {
  margin-left: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid #carouselExampleDark .carousel-control-prev {
    margin-left: 1em;
  }
}
.embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid #carouselExampleDark .carousel-control-next {
  margin-right: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP1 .conteiner-fluid #carouselExampleDark .carousel-control-next {
    margin-right: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section1GridM .phoenixP2 {
    width: 61%;
    margin: 0px;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section2GridM {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaM .mainGridM .section2GridM {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM {
    width: 80%;
    margin: 5% 10% 0% 10%;
    display: flex;
    padding: 2%;
    gap: 2%;
  }
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
}
@media (min-width: 700px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid #carouselExampleDark2 .carousel-indicators {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
.embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid #carouselExampleDark2 .carousel-control-prev {
  margin-left: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid #carouselExampleDark2 .carousel-control-prev {
    margin-left: 1em;
  }
}
.embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid #carouselExampleDark2 .carousel-control-next {
  margin-right: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-1 .conteiner-fluid #carouselExampleDark2 .carousel-control-next {
    margin-right: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section2GridM .phoenixV2-2 {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section3GridM {
    margin: 20px 20px 20px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaM .mainGridM .section3GridM {
    margin: 40px 60px 40px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM {
    width: 80%;
    margin: 5% 10% 5% 10%;
    display: flex;
    padding: 2%;
    gap: 2%;
  }
}
@media (min-width: 500px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
}
@media (min-width: 900px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid {
    width: 76%;
    margin-left: 12%;
    margin-right: 12%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid #carouselExampleDark3 .carousel-indicators {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
.embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid #carouselExampleDark3 .carousel-control-prev {
  margin-left: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid #carouselExampleDark3 .carousel-control-prev {
    margin-left: 1em;
  }
}
.embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid #carouselExampleDark3 .carousel-control-next {
  margin-right: 2em;
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-1 .conteiner-fluid #carouselExampleDark3 .carousel-control-next {
    margin-right: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaM .mainGridM .section3GridM .phoenixV3-2 {
    width: 50%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1%;
  }
}
.embolturaM .footerGridM {
  display: grid;
  margin: 0em;
  grid-template-areas: "h3-FooterM" "ul-FooterM" "p-FooterM";
}
@media (min-width: 500px) {
  .embolturaM .footerGridM {
    display: grid;
    grid-template-areas: "h3-FooterM ul-FooterM" "p-FooterM p-FooterM";
  }
}
@media (min-width: 700px) {
  .embolturaM .footerGridM {
    display: grid;
    grid-template-areas: "h3-FooterM ul-FooterM p-FooterM";
  }
}

/* Fin Grid Area Modelos Gratuitos */
/* Grid Area Aregentinos Destacados */
.headerGridA {
  grid-area: headerGridA;
}

.mainGridA {
  grid-area: mainGridA;
}

.h1GridA {
  grid-area: h1GridA;
}

.section1GridA {
  grid-area: section1GridA;
}

.section2GridA {
  grid-area: section2GridA;
}

.section3GridA {
  grid-area: section3GridA;
}

.footerGridA {
  grid-area: footerGridA;
}

.h3-FooterA {
  grid-area: h3-FooterA;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-FooterA {
  grid-area: ul-FooterA;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-FooterA {
  grid-area: p-FooterA;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embolturaA {
  display: grid;
  grid-template-areas: "headerGridA" "mainGridA" "footerGridA";
}
.embolturaA .mainGridA {
  display: grid;
  grid-template-areas: "h1GridA" "section1GridA" "section2GridA" "section3GridA";
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section1GridA {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaA .mainGridA .section1GridA {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section1GridA {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section1GridA .h2yGino {
    float: left;
    width: 68%;
    height: auto;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section1GridA .h2yGino {
    width: 55%;
    margin-right: 3em;
    margin-bottom: 2em;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section1GridA .atomicLab {
    float: right;
    width: 40%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }
}
@media (min-width: 800px) {
  .embolturaA .mainGridA .section1GridA .atomicLab {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section1GridA .atomicLab {
    width: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section1GridA .obama {
    float: left;
    width: 100%;
    margin: 1em 2em 1em 0;
  }
}
@media (min-width: 800px) {
  .embolturaA .mainGridA .section1GridA .obama {
    width: 75%;
    margin: 2em 3em 2em 0;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section1GridA .obama {
    width: 70%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section2GridA {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaA .mainGridA .section2GridA {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section2GridA {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section2GridA .h2Franco {
    float: left;
    width: 68%;
    height: auto;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section2GridA .h2Franco {
    width: 55%;
    margin-right: 3em;
    margin-bottom: 2em;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section2GridA .francoC3DPro {
    float: right;
    width: 40%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
  }
}
@media (min-width: 800px) {
  .embolturaA .mainGridA .section2GridA .francoC3DPro {
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section2GridA .francoC3DPro {
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section3GridA {
    margin: 20px 20px 20px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaA .mainGridA .section3GridA {
    margin: 40px 60px 40px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section3GridA {
    width: 80%;
    margin: 5% 10% 5% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section3GridA .h2Joa {
    float: left;
    width: 68%;
    height: auto;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section3GridA .h2Joa {
    width: 55%;
    margin-right: 3em;
    margin-bottom: 2em;
  }
}
@media (min-width: 500px) {
  .embolturaA .mainGridA .section3GridA .alvearImprime {
    float: right;
    width: 55%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
}
@media (min-width: 1024px) {
  .embolturaA .mainGridA .section3GridA .alvearImprime {
    width: 40%;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
}
.embolturaA .footerGridA {
  display: grid;
  margin: 0em;
  grid-template-areas: "h3-FooterA" "ul-FooterA" "p-FooterA";
}
@media (min-width: 500px) {
  .embolturaA .footerGridA {
    display: grid;
    grid-template-areas: "h3-FooterA ul-FooterA" "p-FooterA p-FooterA";
  }
}
@media (min-width: 700px) {
  .embolturaA .footerGridA {
    display: grid;
    grid-template-areas: "h3-FooterA ul-FooterA p-FooterA";
  }
}

/* Fin Grid Area Aregentinos Destacados */
/* Grid Area Historias */
.headerGridHis {
  grid-area: headerGridHis;
}

.mainGridHis {
  grid-area: mainGridHis;
}

.h1GridHis {
  grid-area: h1GridHis;
}

.section1GridHis {
  grid-area: section1GridHis;
}

.section2GridHis {
  grid-area: section2GridHis;
}

.footerGridHis {
  grid-area: footerGridHis;
}

.h3-FooterHis {
  grid-area: h3-FooterHis;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-FooterHis {
  grid-area: ul-FooterHis;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-FooterHis {
  grid-area: p-FooterHis;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embolturaHis {
  display: grid;
  grid-template-areas: "headerGridHis" "mainGridHis" "footerGridHis";
}
.embolturaHis .mainGridHis {
  display: grid;
  grid-template-areas: "h1GridHis" "section1GridHis" "section2GridHis";
}
@media (min-width: 500px) {
  .embolturaHis .mainGridHis .section1GridHis {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaHis .mainGridHis .section1GridHis {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaHis .mainGridHis .section1GridHis {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaHis .mainGridHis .section1GridHis .h2Felipe {
    float: left;
    width: 70%;
    margin: 0px 20px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .embolturaHis .mainGridHis .section1GridHis .h2Felipe {
    width: 40%;
  }
}
@media (min-width: 500px) {
  .embolturaHis .mainGridHis .section2GridHis {
    margin: 40px 20px 20px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaHis .mainGridHis .section2GridHis {
    margin: 40px 60px 40px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaHis .mainGridHis .section2GridHis {
    width: 80%;
    margin: 5% 10% 5% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaHis .mainGridHis .section2GridHis .h2Olga {
    float: left;
    width: 60%;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .embolturaHis .mainGridHis .section2GridHis .h2Olga {
    width: 40%;
  }
}
.embolturaHis .footerGridHis {
  display: grid;
  margin: 0em;
  grid-template-areas: "h3-FooterHis" "ul-FooterHis" "p-FooterHis";
}
@media (min-width: 500px) {
  .embolturaHis .footerGridHis {
    display: grid;
    grid-template-areas: "h3-FooterHis ul-FooterHis" "p-FooterHis p-FooterHis";
  }
}
@media (min-width: 700px) {
  .embolturaHis .footerGridHis {
    display: grid;
    grid-template-areas: "h3-FooterHis ul-FooterHis p-FooterHis";
  }
}

/* Fin Grid Area Historias */
/* Grid Area Donaciones */
.headerGridD {
  grid-area: headerGridD;
}

.mainGridD {
  grid-area: mainGridD;
}

.h1GridD {
  grid-area: h1GridD;
}

.section1GridD {
  grid-area: section1GridD;
}

.section2GridD {
  grid-area: section2GridD;
}

.section3GridD {
  grid-area: section3GridD;
}

.section4GridD {
  grid-area: section4GridD;
}

.footerGridD {
  grid-area: footerGridD;
}

.h3-FooterD {
  grid-area: h3-FooterD;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-FooterD {
  grid-area: ul-FooterD;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-FooterD {
  grid-area: p-FooterD;
  color: white;
  margin: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embolturaGridD {
  display: grid;
  grid-template-areas: "headerGridD" "mainGridD" "footerGridD";
}
.embolturaGridD .mainGridD {
  display: grid;
  grid-template-areas: "h1GridD" "section1GridD" "section2GridD" "section3GridD" "section4GridD";
}
@media (min-width: 500px) {
  .embolturaGridD .mainGridD .section1GridD {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaGridD .mainGridD .section1GridD {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaGridD .mainGridD .section1GridD {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaGridD .mainGridD .section2GridD {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaGridD .mainGridD .section2GridD {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaGridD .mainGridD .section2GridD {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaGridD .mainGridD .section3GridD {
    margin: 20px 20px 0px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaGridD .mainGridD .section3GridD {
    margin: 40px 60px 0px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaGridD .mainGridD .section3GridD {
    width: 80%;
    margin: 5% 10% 0% 10%;
  }
}
@media (min-width: 500px) {
  .embolturaGridD .mainGridD .section4GridD {
    margin: 20px 20px 20px 20px;
  }
}
@media (min-width: 700px) {
  .embolturaGridD .mainGridD .section4GridD {
    margin: 40px 60px 40px 60px;
  }
}
@media (min-width: 1024px) {
  .embolturaGridD .mainGridD .section4GridD {
    width: 80%;
    margin: 5% 10% 5% 10%;
  }
}
.embolturaGridD .footerGridD {
  display: grid;
  margin: 0em;
  grid-template-areas: "h3-FooterD" "ul-FooterD" "p-FooterD";
}
@media (min-width: 500px) {
  .embolturaGridD .footerGridD {
    display: grid;
    grid-template-areas: "h3-FooterD ul-FooterD" "p-FooterD p-FooterD";
  }
}
@media (min-width: 700px) {
  .embolturaGridD .footerGridD {
    display: grid;
    grid-template-areas: "h3-FooterD ul-FooterD p-FooterD";
  }
}

/* Fin Grid Area Donaciones */
/* Fondos */
.fondo1 {
  background-image: url(../assets/img/fondos/fondo1.jpg);
}

.fondo2 {
  background-image: url(../assets/img/fondos/fondo2.jpg);
}

.fondo3 {
  background-image: url(../assets/img/fondos/fondo3.jpg);
}

.fondo4 {
  background-image: url(../assets/img/fondos/fondo4.jpg);
}

.fondo5 {
  background-image: url(../assets/img/fondos/fondo5.jpg);
}

.fondo1, .fondo2, .fondo3, .fondo4, .fondo5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
@media (min-width: 500px) {
  .fondo1, .fondo2, .fondo3, .fondo4, .fondo5 {
    height: 40vh;
  }
}
@media (min-width: 700px) {
  .fondo1, .fondo2, .fondo3, .fondo4, .fondo5 {
    height: 44vh;
  }
}
@media (min-width: 1024px) {
  .fondo1, .fondo2, .fondo3, .fondo4, .fondo5 {
    height: 90.65vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Fin fondos */
/* Enlaces externos */
.linkUPH, .linkPHV3, .contactarCon {
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  padding: 0.7em;
  border: 0.2em solid white;
  border-radius: 3em;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (min-width: 900px) {
  .linkUPH, .linkPHV3, .contactarCon {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .linkUPH, .linkPHV3, .contactarCon {
    box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
  }
}

.linkUPH, .linkPHV3 {
  width: 90%;
  margin: 20px 5% 0 5%;
}
@media (min-width: 500px) {
  .linkUPH, .linkPHV3 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

.contactarCon {
  width: 90%;
  margin: 20px 5% 0 5%;
}
@media (min-width: 500px) {
  .contactarCon {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 900px) {
  .contactarCon {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.linkUPH:hover, .linkPHV3:hover, .contactarCon:hover {
  color: rgba(0, 14, 70, 0.86);
  background: white;
  transition: 0.3s;
  border: 0.2em solid rgba(0, 14, 70, 0.86);
}

.enviarForm {
  color: white;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  border: 0.2em solid white;
  border-radius: 25px;
  font-family: "Orbitron";
  font-size: 14px;
}
@media (min-width: 900px) {
  .enviarForm {
    font-size: 17px;
  }
}
@media (min-width: 1024px) {
  .enviarForm {
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  }
}

.enviarForm:hover {
  color: rgba(0, 14, 70, 0.86);
  border: 0.2em solid rgba(0, 14, 70, 0.86);
  background: white;
  transition: 0.3s;
}

/* Enlaces externos */
/* Footer */
footer {
  padding: 0.5em;
  border-top: 0.2em solid white;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgb(0, 0, 32) 0%, rgb(16, 19, 98) 50%, rgb(0, 0, 32) 100%);
  height: 132px;
  width: 100%;
}
@media (min-width: 500px) {
  footer {
    height: 140%;
  }
}
@media (min-width: 700px) {
  footer {
    height: 150%;
  }
}

svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Fin footer */
@media (min-width: 500px) {
  .section1GridH, .section2GridH, .section1GridM, .section2GridM, .section3GridM, .section1GridA, .section2GridA, .section3GridA, .section1GridHis, .section2GridHis, .section1GridD, .section2GridD, .section3GridD, .section4GridD {
    padding: 3em;
    border: 0.2em solid white;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    margin-bottom: 0;
    background-color: rgba(96, 182, 229, 0.4431372549);
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
  }
}
@media (min-width: 1024px) {
  .section1GridH, .section2GridH, .section1GridM, .section2GridM, .section3GridM, .section1GridA, .section2GridA, .section3GridA, .section1GridHis, .section2GridHis, .section1GridD, .section2GridD, .section3GridD, .section4GridD {
    background-image: url(../assets/img/fondos/fondoMarmolBlanco.jpg);
  }
}/*# sourceMappingURL=estilos.css.map */