.linkUPH, .linkPHV3, .contactarCon {

    color: $blanco;
    text-decoration: none;
    background: $gradienteAzul;
    padding: 0.70em;
    border: 0.20em solid $blanco;
    border-radius: 3em;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    @extend .neoCelesteCuadrado;

    @media (min-width: 900px) {
        font-size: 17px;
    }

    @media (min-width: 1024px) {
        box-shadow: 6px 6px 12px #d9d9d9,
            -6px -6px 12px #ffffff;
    }

}

.linkUPH, .linkPHV3 {

    width: auto;
    margin: 20px 5% 0 5%;

    @media (min-width: 500px) {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

}

.contactarCon {

    width: auto;
    margin: 20px 5% 0 5%;

    @media (min-width: 500px) {
        margin-left: 20%;
        margin-right: 20%;
    }

    @media (min-width: 700px) {
        margin-left: 25%;
        margin-right: 25%;
    }

    
    @media (min-width: 1024px) {
        margin-left: 35%;
        margin-right: 35%;
    }

}

.linkUPH:hover, .linkPHV3:hover, .contactarCon:hover {
    color: $azulMarino;
    background: $blanco;
    transition: .3s;
    border: 0.20em solid $azulMarino;
}

.enviarForm {

    color: $blanco;
    background: $gradienteAzul;
    border: 0.20em solid $blanco;
    border-radius: 25px;
    font-family: 'Orbitron';
    font-size: 14px;
    @extend .neoCelesteCuadrado;

    @media (min-width: 900px) {
        font-size: 17px;
    }

    @media (min-width: 1024px) {
        box-shadow: 10px 10px 20px #d9d9d9,
            -10px -10px 20px #ffffff;
    }

}

.enviarForm:hover {
    color: $azulMarino;
    border: 0.20em solid $azulMarino;
    background: $blanco;
    transition: .3s;
}