.neoCelesteRedondo{
    border-radius: 50%;
    background: #B9DEF1;
    box-shadow:  5px 5px 10px #90adbc,
                -5px -5px 10px #e2ffff;
}

.neoCelesteCuadrado{  
    background: #B9DEF1;  
    box-shadow:  5px 5px 10px #90adbc,
                -5px -5px 10px #e2ffff;}
    
.neoImput{
    background: #B9DEF1;
    box-shadow: inset 5px 5px 10px #90adbc,
                inset -5px -5px 10px  #e2ffff;  
}