.fondo1, .fondo2, .fondo3 ,.fondo4, .fondo5 {

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    border-bottom: 0.20em solid $blanco;

    @media (min-width: 500px) {
        height: 40vh;
    }

    @media (min-width: 700px) {
        height: 44vh;
    }

    @media (min-width: 1024px) {
        height: 90.65vh;
        background-attachment: fixed;
        background-position: center;    
        background-repeat: no-repeat;   
        background-size: cover;
    }

}
