footer {

    background: $gradienteAzul;
    padding: 0.50em;
    border-top: 0.20em solid $blanco;
    width: 100%;
    height: 132px;
    display: flex;
    justify-content: space-evenly;

    @media (min-width: 500px) {
        height: 140%;
    }

    @media (min-width: 700px) {
        height: 150%;
    }

}