
.embolturaA{
    display: grid;
    grid-template-areas: 
    "headerGridA"
    "mainGridA"
    "footerGridA";


    .mainGridA{
        display: grid;
        grid-template-areas: 
        "h1GridA"
        "section1GridA"
        "section2GridA"
        "section3GridA";

        .section1GridA{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }
            
            .h2yGino{

                @media  (min-width: 500px){
                float: left;
                width: 50%;
                height: auto;
                margin-right: 20px;
                margin-bottom: 20px;
                }

            }

            .atomicLab{

                @media  (min-width: 500px){
                    float: right;
                    width: 50%;
                    height: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                } 

            }

            .obama{
            
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    height: auto;
                    margin-top: 20px;
                    margin-right: 20px;
                    
                }
            }

        }

        .section2GridA{

            
            @media  (min-width: 500px){
                margin: 40px 20px 0px 20px;
            }

            .h2Franco{
                
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    height: auto;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }

            .francoC3DPro{
                @media  (min-width: 500px){
                    float: right;
                    width: 50%;
                    height: auto;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }

        }

        .section3GridA{

            @media  (min-width: 500px){
                margin: 40px 20px 20px 20px;
            }

            .h2Joa{

                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    height: auto;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

            }

            .alvearImprime{

                @media  (min-width: 500px){
                    float: right;
                    width: 50%;
                    height: auto;
                    margin-top: 20px;
                    margin-left: 20px;
                    margin-bottom: 20px;
                }

            }

        }

    }
        
    .footerGridA{
        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterA"
        "li-FooterA"
        "p-FooterA";

        @media  (min-width: 500px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterA li-FooterA"
            "p-FooterA p-FooterA";
        }

        @media  (min-width: 700px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterA li-FooterA p-FooterA";
        }

    }   

}