
.embolturaM{
    display: grid;
    grid-template-areas: 
    "headerGridM"
    "mainGridM"
    "footerGridM";

    .mainGridM{

    display: grid;
    grid-template-areas: 
    "h1GridM"
    "section1GridM"
    "section2GridM"
    "section3GridM";

        .section1GridM{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }
            
            .phoenixP1{
            
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                
                @media  (min-width: 700px){
                    width: 65%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                @media  (min-width: 900px){
                    width: 50%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                .conteiner-fluid{
                    
                    @media  (min-width: 700px){
                        width: 84%;
                        margin-left: 8%;
                        margin-right: 8%;    
                    }

                    .carousel-indicators{

                        @media  (min-width: 1024px){                       
                            width: 50%;
                            margin-left: 25%;
                            margin-right: 25%;   
                        }

                    }

                    .carousel-control-prev{

                        margin-left: 2em;

                        @media  (min-width: 1024px){                       
                            margin-left: 6em;
                        }

                    }

                    .carousel-control-next{

                        margin-right: 2em;

                        @media  (min-width: 1024px){
                            margin-right:6em;
                        }

                    }
                    
                }
            } 
        }

        .section2GridM{

            @media  (min-width: 500px){
                margin: 40px 20px 0px 20px;
            }

            .phoenixV2-1{

                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                @media  (min-width: 700px){
                    width: 55%;
                    margin-right: 47px;
                    margin-bottom: 20px;
                    
                }

                .conteiner-fluid{
                    
                    @media (min-width: 700px){
                        width: 76%;
                        margin-left: 12%;
                        margin-right: 12%;    
                    }


                    .carousel-indicators{

                        @media  (min-width: 1024px){                       
                            width: 50%;
                            margin-left: 25%;
                            margin-right: 25%;   
                        }

                    }

                    .carousel-control-prev{

                        margin-left: 2em;

                        @media  (min-width: 1024px){                       
                            margin-left: 6em;
                        }

                    }

                    .carousel-control-next{

                        margin-right: 2em;

                        @media  (min-width: 1024px){
                            margin-right:6em;
                        }
                    }
                }
            }

        }    
            
        .section3GridM{

            @media  (min-width: 500px){
                margin: 40px 20px 20px 20px;
            }
                
            .phoenixV3-1{
            
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                @media  (min-width: 700px){
                    width: 55%;
                    margin-right: 47px;
                    margin-bottom: 20px;
                    
                }

                .conteiner-fluid{
                    
                    @media (min-width: 900px){
                        width: 76%;
                        margin-left: 12%;
                        margin-right: 12%;    
                    }

                    .carousel-indicators{

                        @media  (min-width: 1024px){                       
                            width: 50%;
                            margin-left: 25%;
                            margin-right: 25%;   
                        }

                    }

                    .carousel-control-prev{

                        margin-left: 2em;

                        @media  (min-width: 1024px){                       
                            margin-left: 6em;
                        }

                    }

                    .carousel-control-next{

                        margin-right: 2em;

                        @media  (min-width: 1024px){
                            margin-right:6em;
                        }

                    }

                }
            }
        }
    }

    .footerGridM{
        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterM"
        "li-FooterM"
        "p-FooterM";

        @media  (min-width: 500px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterM li-FooterM"
            "p-FooterM p-FooterM";
        }

        @media  (min-width: 700px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterM li-FooterM p-FooterM";
        }

    }
}

