.embolturaHis{

    display: grid;
    grid-template-areas: 
    "headerGridHis"
    "mainGridHis"
    "footerGridHis";

    .mainGridHis{

        display: grid;
        grid-template-areas: 
        "h1GridHis" 
        "section1GridHis"
        "section2GridHis";

        .section1GridHis{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media (min-width: 1024px){
                width: 80%;
                margin: 5% 10% 0% 10%;
            }


            .h2Felipe{
                
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin: 0px 20px 20px 0px;
                }

                @media  (min-width: 1024px){
                    margin: 0px 50px 30px 0px;
                }

            }

            .felipeyGino{

                @media  (min-width: 500px){
                    float: right;
                    width: 50%;
                    margin: 20px 0px 20px 20px;
                }

                @media  (min-width: 1024px){
                    width: 80%;
                    margin: 30px 0px 30px 50px;
                }
            }

        }
        
        .section2GridHis{

            @media  (min-width: 500px){
                margin: 40px 20px 20px 20px;
            }

            @media (min-width: 1024px){
                width: 80%;
                margin: 5% 10% 5% 10%;
            }

            .h2Olga{
                
                @media  (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }

                @media  (min-width: 1024px){
                    width: 55%;
                    margin-right: 50px;
                    margin-bottom: 30px;
                }

            }

            .olgayGino{
                @media  (min-width: 500px){
                    float: right;
                    width: 50%;
                    margin: 20px 0px 20px 20px;
                }

                @media  (min-width: 800px){
                    display: none;
                }

            }

        }

    }

    .footerGridHis{

        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterHis"
        "ul-FooterHis"
        "p-FooterHis";

        @media  (min-width: 500px){
            display: grid;
            grid-template-areas: 
            "h3-FooterHis ul-FooterHis"
            "p-FooterHis p-FooterHis";
        }

        @media  (min-width: 700px){
            display: grid;
            grid-template-areas: 
            "h3-FooterHis ul-FooterHis p-FooterHis";
        }
    }
}
