
.embolturaGridD{
    display: grid;
    grid-template-areas: 
    "headerGridD"
    "mainGridD"
    "footerGridD";


    .mainGridD{
        display: grid;
        grid-template-areas: 
        "h1GridD" 
        "section1GridD"
        "section2GridD"
        "section3GridD"
        "section4GridD";

        .section1GridD{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media (min-width: 1024px){
                margin-top: 5%;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 0%;
                }

        
        }

        .section2GridD{

                @media  (min-width: 500px){
                    columns: 2;
                    gap: 5%;
                    margin: 40px 20px 0px 20px;
                }

                @media (min-width: 1024px){
                    margin-top: 5%;
                    margin-left: 15%;
                    margin-right: 15%;
                    margin-bottom: 0%;
                    }    

            }

        .section3GridD{

            @media  (min-width: 500px){
                columns: 2;
                gap: 5%;
                margin: 40px 20px 0px 20px;
            }

            @media (min-width: 1024px){
                margin-top: 5%;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 0%;
                }

        }
        
        .section4GridD{

            margin-bottom: 20px;

            @media  (min-width: 500px){
                columns: 2;
                gap: 5%;
                margin: 40px 20px 20px 20px;
            }   

            @media (min-width: 1024px){
                margin-top: 5%;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 5%;
                }

        }
    }

    .footerGridD{
        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterD"
        "ul-FooterD"
        "p-FooterD";

        @media  (min-width: 500px){
            display: grid;
            grid-template-areas: 
            "h3-FooterD ul-FooterD"
            "p-FooterD p-FooterD";
        }

        @media  (min-width: 700px){
            display: grid;
            grid-template-areas: 
            "h3-FooterD ul-FooterD p-FooterD";
        }
    }

}