
.embolturaGridD{
    display: grid;
    grid-template-areas: 
    "headerGridD"
    "mainGridD"
    "footerGridD";
}

.mainGridD{
    display: grid;
    grid-template-areas: 
    "h1GridD" 
    "section1GridD"
    "section2GridD"
    "section3GridD"
    "section4GridD";
    margin:0 0 25px 0;
}

.footerGridD{
    display: grid;
    margin: 0em;
    grid-template-areas: 
    "h3-FooterD"
    "li-FooterD"
    "p-FooterD";
}