.embolturaH{

    display: grid;
    grid-template-areas: 
    "headerGridH"
    "mainGridH"
    "footerGridH";

    .mainGridH{

        display: grid;
        grid-template-areas: 
        "h1GridH"
        "section1GridH"
        "section2GridH";

        .section1GridH{
            
            @media (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media (min-width: 1024px){
            margin: 5% 15% 5% 15%;
            }

            .nosotrosH2Logo{
                
                @media (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin: 0px 20px 10px 0px;
                }

                @media (min-width: 700px){
                    float: left;
                    width: 40%;
                    margin: 0px 20px 10px 0px;
                }

            } 

        }

        .section2GridH{

            margin-top: 5px;
            margin-bottom: 25px;

            @media  (min-width: 500px){
                margin: 40px 20px 20px 20px;
            }

            @media (min-width: 1024px){
                margin: 0% 15% 5% 15%;
            }

            .contenedorForm{

                color: $azulMarino;
                font-weight: 600;
                font-size: 14px;      
                padding: 15px;  
                text-align: center;
                margin: 0 28px;
                border-radius: 20px;
                @extend .neoCelesteCuadrado;
    
                @media  (min-width: 500px){           
                    background-color: $celesteAcero;
                    font-size: 15px;
                    text-align: center;
                    padding: 2em;
                    gap: 25px;
                    border: 0.20em solid $blanco;
                    border-radius: 2em; 
                    margin: 0px;
                    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @media  (min-width: 1024Px){           
                    background-image: url(../assets/img/fondos/fondoMarmolBlanco.jpg);
                }
                
                .formPrimero{

                    margin-bottom: 20px;

                    @media  (min-width: 500px){
                        width: 50%;
                        margin-bottom: 0px;
                    }

                    @media (min-width: 900px){
                        font-size: 16px;
                    }

                }
            
                .formSegundo{

                    @media  (min-width: 500px){
                        width: 50%;
                    }

                    label{

                        font-size: 14px;
        
                        @media  (min-width: 500px){
                            font-size: 15px;
                        }

                        @media (min-width: 900px){
                            font-size: 16px;
                        }
        
                    }
        
                    input{ 
                        color:  $azulMarino;
                        font-family: 'Montserrat'; 
                        font-weight: 600;
                        font-size: 14px;
                        padding: 0.50em;
                        border: none;
                        margin: 0.50rem;
                        text-align: center;
                        border-radius: 8px;
                        @extend .neoImput;
                                    
                        @media (min-width: 900px){
                            font-size: 16px;
                        }

                    }
        
                    input:hover{
                        color: $blanco;
                        background: $gradienteAzul;
                        box-shadow: none;
                    }
        
                    .enviar{  
                            color: $blanco;
                            background: $gradienteAzul;
                            border: 0.20em solid $blanco;
                            border-radius: 25px;
                            font-family: 'Orbitron';
                            font-size: 13px;
                            @extend .neoCelesteCuadrado;
                        
                        @media (min-width: 900px){
                            font-size: 16px;
                        }

                        @media (min-width: 1024px) {
                            box-shadow:  10px 10px 20px #d9d9d9,
                                        -10px -10px 20px #ffffff;
                        }

                    }
        
                    .enviar:hover{
                        color: $azulMarino;
                        border: 0.20em solid $azulMarino;
                        background: $blanco;
                        transition: .3s;
                    }

                }
            }
        }
    }
    
    .footerGridH{

        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterH"
        "ul-FooterH"
        "p-FooterH";

        @media  (min-width: 500px){
            display: grid;
            grid-template-areas: 
            "h3-FooterH ul-FooterH"
            "p-FooterH p-FooterH";
        }

        @media  (min-width: 700px){
            display: grid;
            grid-template-areas: 
            "h3-FooterH ul-FooterH p-FooterH";
        }

    }
}