.embolturaH{

    display: grid;
    grid-template-areas: 
    "headerGridH"
    "mainGridH"
    "footerGridH";

    .mainGridH{

        display: grid;
        grid-template-areas: 
        "h1GridH"
        "section1GridH"
        "section2GridH";

        .section1GridH{
            
            @media (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media (min-width: 1024px){
            margin-top: 5%;
            margin-left: 15%;
            margin-right: 15%;
            }

            .nosotrosH2Logo{
                
                @media (min-width: 500px){
                    float: left;
                    width: 50%;
                    margin: 0px 20px 10px 0px;
                }

                @media (min-width: 900px){
                    float: left;
                    width: 40%;
                    margin: 0px 20px 10px 0px;
                }
                
            } 

        }

        .section2GridH{

            margin-bottom: 25px;

            @media  (min-width: 500px){
                margin: 40px 20px 20px 20px;
            }

            @media (min-width: 1024px){
                margin-top: 5%;
                margin-left: 15%;
                margin-right: 15%;
                margin-bottom: 5%;
                }

            .contenedorForm{

                color:  rgba(0, 14, 70, 0.86);
                font-weight: 600;
                font-size: 14px;      
                padding: 15px;  
                text-align: center;
                margin: 0 28px;
                border-radius: 20px;
                background: #B9DEF1;
                box-shadow:  5px 5px 10px #90adbc,
                            -5px -5px 10px #e2ffff;
    
                @media  (min-width: 500px){           
                    background-color:#60b6e571;
                    color:  rgba(0, 14, 70, 0.86);
                    font-weight: 600;
                    font-size: 15px;
                    text-align: center;
                    padding: 2em;
                    gap: 25px;
                    border: 0.20em solid white;
                    border-radius: 2em; 
                    margin: 0px;
                    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                @media  (min-width: 1024Px){           
                    background-color:#ffffff;
                    color:  rgba(0, 0, 0, 0.86);
                }
                
                .formPrimero{

                    margin-bottom: 20px;

                    @media  (min-width: 500px){
                        width: 50%;
                        margin-bottom: 0px;
                    }

                    @media (min-width: 900px){
                        font-size: 16px;
                    }

                }
            
                .formSegundo{

                    @media  (min-width: 500px){
                        width: 50%;
                    }
        
                    label{

                        font-size: 14px;
        
                        @media  (min-width: 500px){
                            font-size: 15px;
                        }

                        @media (min-width: 900px){
                            font-size: 16px;
                        }
        
                    }
        
                    input{ 
                        color:  rgba(0, 14, 70, 0.86);
                        font-family: 'Montserrat'; 
                        font-weight: 600;
                        font-size: 14px;
                        padding: 0.50em;
                        border: none;
                        margin: 0.50rem;
                        text-align: center;
                        border-radius: 8px;
                        background: #B9DEF1;
                        box-shadow: inset 5px 5px 10px #90adbc,
                                    inset -5px -5px 10px  #e2ffff;  
                                    
                        @media (min-width: 900px){
                            font-size: 16px;
                        }

                    }
        
                    input:hover{
                        color: rgba(255, 255, 255, 0.86);
                        background: linear-gradient(90deg, rgba(0,0,32,1) 0%, rgba(16,19,98,1) 50%, rgba(0,0,32,1) 100%);
                        box-shadow: none;
                    }
        
                    .enviar{  
                            color: white;
                            background: linear-gradient(90deg, rgba(0,0,32,1) 0%, rgba(16,19,98,1) 50%, rgba(0,0,32,1) 100%);
                            border: 0.20em solid rgb(255, 255, 255);
                            border-radius: 23px;
                            font-family: 'Orbitron';
                            font-size: 13px;
                            box-shadow:  5px 5px 10px #8eabba,
                                        -5px -5px 10px #e4ffff;
                        
                        @media (min-width: 900px){
                            font-size: 16px;
                        }

                        @media (min-width: 1024px) {
                            box-shadow:  10px 10px 20px #d9d9d9,
                                        -10px -10px 20px #ffffff;
                        }

                    }
        
                    .enviar:hover{
                        color: rgba(0, 14, 70, 0.86);
                        border: 0.20em solid rgba(0, 14, 70, 0.86);
                        background: white;
                        transition: .3s;
                    }

                }
            }
        }
    }
    
    .footerGridH{

        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterH"
        "li-FooterH"
        "p-FooterH";

        @media  (min-width: 500px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterH li-FooterH"
            "p-FooterH p-FooterH";
        }

        @media  (min-width: 700px){
            display: grid;
            margin: 0em;
            grid-template-areas: 
            "h3-FooterH li-FooterH p-FooterH";
        }

    }
    
}