.embolturaA{

    display: grid;
    grid-template-areas: 
    "headerGridA"
    "mainGridA"
    "footerGridA";

    .mainGridA{

        display: grid;
        grid-template-areas: 
        "h1GridA"
        "section1GridA"
        "section2GridA"
        "section3GridA";

        .section1GridA{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media  (min-width: 700px){
                margin: 40px 60px 0px 60px;
            }

            @media (min-width: 1024px){
                width: 80%;
                margin: 5% 10% 0% 10%;
            }

            .h2yGino{

                @media (min-width: 500px){
                float: left;
                width: 68%;
                height: auto;
                margin-right: 2em;
                margin-bottom: 1em;
                }

                @media (min-width: 1024px){
                    margin-right: 3em;
                    margin-bottom: 2em;
                }
                
            }

            .atomicLab{

                @media (min-width: 500px){
                    float: right;
                    width: 40%;
                    height: auto;
                    margin-top: 1em;
                    margin-bottom: 1em;
                } 

                @media (min-width: 1024px){
                    width: 27%;
                }

            }

            .obama{
            
                @media (min-width: 500px){
                    float: left;
                    width: 100%;
                    margin: 1em 2em 1em 0;
                }

                @media (min-width: 800px){
                    width: 78%;
                    margin: 2em 3em 2em 0;
                }    

                @media (min-width: 1024px){
                    width: 65%;
                }    

            }
        }

        .section2GridA{

            @media  (min-width: 500px){
                margin: 20px 20px 0px 20px;
            }

            @media  (min-width: 700px){
                margin: 40px 60px 0px 60px;
            }

            @media (min-width: 1024px){
                width: 80%;
                margin: 5% 10% 0% 10%;
            }

            .h2Franco{
                
                @media (min-width: 500px){
                    float: left;
                    width: 68%;
                    height: auto;
                    margin-right: 2em;
                }

                @media (min-width: 1024px){
                    margin-right: 3em;
                }

            }

            .francoC3DPro{

                @media (min-width: 500px){
                    float: right;
                    width: 40%;
                    height: auto;
                    margin-top: 1em;
                    margin-bottom: 1em;
                }

                @media (min-width: 1024px){
                    width: 30%;
                    margin-top: 2em;
                    margin-bottom: 2em;
                }

            }
        }

        .section3GridA{

            @media  (min-width: 500px){
                margin: 20px 20px 20px 20px;
            }

            @media  (min-width: 700px){
                margin: 40px 60px 40px 60px;
            }

            @media (min-width: 1024px){
                width: 80%;
                margin: 5% 10% 5% 10%;
            }

            .h2Joa{

                @media (min-width: 500px){
                    float: left;
                    width: 68%;
                    height: auto;
                    margin-right: 2em;
                }

                @media (min-width: 1024px){
                    margin-right: 3em;
                }

            }

            .alvearImprime{

                @media (min-width: 500px){
                    float: right;
                    width: 55%;
                    margin: 10px 0px 10px 20px;
                }

                @media (min-width: 1024px){
                    width: 40%;
                    margin: 20px 0px 15px 40px;
                }

            }
        }
    }
        
    .footerGridA{

        display: grid;
        margin: 0em;
        grid-template-areas: 
        "h3-FooterA"
        "ul-FooterA"
        "p-FooterA";

        @media (min-width: 500px){
            display: grid;
            grid-template-areas: 
            "h3-FooterA ul-FooterA"
            "p-FooterA p-FooterA";
        }

        @media (min-width: 700px){
            display: grid;
            grid-template-areas: 
            "h3-FooterA ul-FooterA p-FooterA";
        }

    }   
}