
img{

    width: 80%;  
    height: auto;
    border-radius: 2em;

    @media (min-width: 500px){
        width: 100%;
        margin: 0;    
    }

}

iframe{

    width: 80%;  
    height: auto;
    border-radius: 2em;

    @media (min-width: 500px){
    width: 100%;
    }

}

.redondeadoProtesis{
    border-radius: 3em;
}

.circulo{
    padding: 1em;
    height: 50%;
    width: 50%;
    border: 0.30em solid $blanco;
    @extend .neoCelesteRedondo;
    margin: 0 25%;

    @media (min-width: 500px){
        height: 70%;
        width: 70%;
        margin: 0 15% 0 15%;
    }

    @media (min-width: 1024px){
        border-radius: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #ffffff;
        box-shadow:  6px 6px 12px #d9d9d9,
                    -6px -6px 12px #ffffff;
        border: 0.30em solid $celesteAcero;
    }

}

.logoForm {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    @extend .neoCelesteRedondo;

    @media (min-width: 1024px){
        border: 0.30em solid $blanco;
        border-radius: 50%;
        background: #ffffff;
        box-shadow:  6px 6px 12px #d9d9d9,
                    -6px -6px 12px #ffffff;
        border: 0.30em solid $celesteAcero;
    }

}