header{

    background: $gradienteAzul;
    padding: 1rem;
    border-bottom: 0.20em solid $blanco;
    display: inline-block;
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 10;

    nav{
        
        .checkbtn{

            font-size: 30px;
            color: $blanco;
            float: right;
            cursor: pointer;
            display: block;
            margin-right: 0.10em;

            @media (min-width: 700px){
                display:none;
            }

        }
        
        #check:checked ~ ul{
            left: 0;
        } 
    
        #check{
            display: none;
        }
    
        #check:checked ~ .li{
            display: block;
        }
    
        #check:checked ~ label.checkbtn .close{
            display: block;
        }
    
        #check:checked ~ label.checkbtn .menu{
            display: none;
        }

        label{

            .menu{

                color: $blanco;
                float: right;
                cursor: pointer;
                display:block;
                margin-right: 7px;
                margin-top: 5px;
                
                @media (min-width: 700px){
                    display: none;
                }

            }

            .close{

                display: none;
                margin-top: 10px;
                margin-right: 3.50px;
    
                @media (min-width: 700px){
                    display: none;
                }

            }

        }

        a{
            .enlace{
                display: none;
            }
    
            .logo{
                width: 90px;
                height: 39px;
                padding: 0.20em;
                margin-left: 13px;
                border: 0.20em solid $blanco;
                float: left;
            } 
            
        }
        
    
        ul{

            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: $azulOscuroConTransparenciaUL;
            top: 60px;
            left: -100%;
            text-align: center;
            transition: all .7s;
            padding: 0px;

            @media (min-width: 700px){
                display: flex;
                justify-content: center;
                left: 0%;
                background-color: none;
                transition: none;
                width: 84%; 
                height: 0%;
                margin-top: -50px;
                margin-left: 102px;
            }

            li{

                line-height: 1em;
                margin: 11vh 0px;
                display: flex;
                justify-content: center;
                align-items: center;
            
                @media (min-width: 700px){
                    margin-top: 14px;
                    height: 7%;
                }

                a{

                    color: $blanco;
                    font-size: 1.70em;
                    padding: 0.50em;
                    border-radius: 3px;
                    text-transform: uppercase;
                    text-decoration: none;

                    @media (min-width: 700px){
                        font-weight: 600;
                        font-size: 115%;
                        border-radius: 30px;
                        margin-left: 3px;
                        margin-top: 10px
                    }

                    @media (min-width: 800px){
                        font-size: 13px;
                    }
                    
                    @media (min-width: 900px){
                        font-size: 14px;
                    }

                    @media (min-width: 1024px){
                        font-size: 15px;
                        margin-left: 20px;
                    }
                
                }                     
                
                a.active, a:hover{
                    background: $blanco;
                    color: $azulMarino;
                    transition: all .3s;
                }
        
            }

        }

    }

}