*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{ 
    background-color:#60b6e571;
    font-family: 'Montserrat'; 
    text-align: center;
    line-height: 1.70;   

    @media (min-width: 500px){
        background-color: white;
    }
    
    @media (min-width: 1024px){
        background-image: url(../assets/img/fondos/fondoCeleste.1024px.jpg);
    }
            
}