$blanco: white;

$fondoH1: rgba(6, 6, 6, 0.329);

$celesteAcero: #60b6e571;

$azulMarino: rgba(0, 14, 70, 0.86);

$gradienteAzul: linear-gradient(90deg, rgba(0, 0, 32, 1) 0%, rgba(16, 19, 98, 1) 50%, rgba(0, 0, 32, 1) 100%);

$azulOscuroConTransparenciaUL: rgba(0, 0, 32, 0.79);