/* Variables Globales */
@import "variablesGlobales";
/* Fin Variables Globales */

/* Fuentes */
@import "fuentes";
/* Fin fuentes */

/* Reseteo y configuración general */
@import "reseteoygenerales";
/* Fin reseteo y configuración general */

/* Extend */
@import "extend";
/* Fin Extend */

/* Mixin */
@import "mixin";
/* Fin Mixin */

/* Nav bar */
@import "navbar";
/* Fin Nav bar */

/* Textos */
@import "textos";
/* Fin textos */

/* Imagenes e iframes */
@import "img-iframe";
/* Fin imagenes e iframes */

/* Srcoll Bar */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #0083FF;
}

body::-webkit-scrollbar-track {
    background: rgb(8, 15, 40);
}

/* Fin Srcoll Bar */

/* Grid Area Home */

.headerGridH {
    grid-area: headerGridH;
}

.mainGridH {
    grid-area: mainGridH;
}

.h1GridH {
    grid-area: h1GridH;
}

.section1GridH {
    grid-area: section1GridH;
}

.section2GridH {
    grid-area: section2GridH;
}

.section3GridH {
    grid-area: section3GridH;
}

.footerGridH {
    grid-area: footerGridH;
}

.h3-FooterH {
    grid-area: h3-FooterH;
    @include footerH3P($blanco, 0em, flex, center, center);
}

.ul-FooterH {
    grid-area: ul-FooterH;
    @include footerSVG(0em, flex, center, center);
}

.p-FooterH {
    grid-area: p-FooterH;
    @include footerH3P($blanco, 0em, flex, center, center);
}

@import "gridareahome";

/* Fin Grid Area Home */

/*Bootstrap Galería*/

.h2Galeria {

    @media (min-width: 500px) {
        width: 80%;
        margin: 0px 10% 20px 10%;
    }

    @media (min-width: 700px) {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

}

.row {
    --bs-gutter-x: 0rem;
    margin: 0px;
}

.galeria1 {

    width: 80%;
    height: 100%;
    padding: 3%;
    padding-top: 0px;
    border-radius: 30px;
    margin: 0px 2em;

    @media (min-width: 500px) {
        padding: 5%;
        border-radius: 40px;
        width: 100%;
        margin: 0px;
    }

}

.galeria {

    padding: 3%;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    margin-left: 2em;
    margin-right: 2em;

    @media (min-width: 500px) {
        padding: 5%;
        border-radius: 40px;
        width: 100%;
        margin: 0px;
    }

}

.galeria6 {

    padding: 3%;
    padding-bottom: 0px;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    margin-left: 2em;
    margin-right: 2em;

    @media (min-width: 500px) {
        padding: 5%;
        border-radius: 40px;
        width: 100%;
        margin: 0px;
    }

}

.section2GridH img:hover {
    transform: scale(1.1);
    transition: all .3s;
}

/*Fin Bootstrap Galería*/

/* Grid Area Modelos Gratuitos */

.headerGridM {
    grid-area: headerGridM;
}

.mainGridM {
    grid-area: mainGridM;
}

.h1GridM {
    grid-area: h1GridM;
}

.section1GridM {
    grid-area: section1GridM;
}

.section2GridM {
    grid-area: section2GridM;
}

.section3GridM {
    grid-area: section3GridM;
}

.footerGridM {
    grid-area: footerGridM;
}

.h3-FooterM {
    grid-area: h3-FooterM;
    @include footerH3P($blanco, 0em, flex, center, center);
}

.ul-FooterM {
    grid-area: ul-FooterM;
    @include footerSVG(0em, flex, center, center);
}

.p-FooterM {
    grid-area: p-FooterM;
    @include footerH3P($blanco, 0em, flex, center, center);
}

@import "gridareamodelos";

/* Fin Grid Area Modelos Gratuitos */

/* Grid Area Aregentinos Destacados */

.headerGridA {
    grid-area: headerGridA;
}

.mainGridA {
    grid-area: mainGridA;
}

.h1GridA {
    grid-area: h1GridA;
}

.section1GridA {
    grid-area: section1GridA;
}

.section2GridA {
    grid-area: section2GridA;
}

.section3GridA {
    grid-area: section3GridA;
}

.footerGridA {
    grid-area: footerGridA;
}

.h3-FooterA {
    grid-area: h3-FooterA;
    @include footerH3P($blanco, 0em, flex, center, center);
}

.ul-FooterA {
    grid-area: ul-FooterA;
    @include footerSVG(0em, flex, center, center);
}

.p-FooterA {
    grid-area: p-FooterA;
    @include footerH3P($blanco, 0em, flex, center, center);
}

@import "gridareaargentinos";

/* Fin Grid Area Aregentinos Destacados */

/* Grid Area Historias */

.headerGridHis {
    grid-area: headerGridHis;
}

.mainGridHis {
    grid-area: mainGridHis;
}

.h1GridHis {
    grid-area: h1GridHis;
}

.section1GridHis {
    grid-area: section1GridHis;
}

.section2GridHis {
    grid-area: section2GridHis;
}

.footerGridHis {
    grid-area: footerGridHis;
}

.h3-FooterHis {
    grid-area: h3-FooterHis;
    @include footerH3P($blanco, 0em, flex, center, center);
}

.ul-FooterHis {
    grid-area: ul-FooterHis;
    @include footerSVG(0em, flex, center, center);
}

.p-FooterHis {
    grid-area: p-FooterHis;
    @include footerH3P($blanco, 0em, flex, center, center);
}

@import "gridareahistorias";

/* Fin Grid Area Historias */

/* Grid Area Donaciones */

.headerGridD {
    grid-area: headerGridD;
}

.mainGridD {
    grid-area: mainGridD;
}

.h1GridD {
    grid-area: h1GridD;
}

.section1GridD {
    grid-area: section1GridD;
}

.section2GridD {
    grid-area: section2GridD;
}

.section3GridD {
    grid-area: section3GridD;
}

.section4GridD {
    grid-area: section4GridD;
}

.footerGridD {
    grid-area: footerGridD;
}

.h3-FooterD {
    grid-area: h3-FooterD;
    @include footerH3P($blanco, 0em, flex, center, center);
}

.ul-FooterD {
    grid-area: ul-FooterD;
    @include footerSVG(0em, flex, center, center);
}

.p-FooterD {
    grid-area: p-FooterD;
    @include footerH3P($blanco, 0em, flex, center, center);
}

@import "gridareadonaciones";

/* Fin Grid Area Donaciones */

/* Fondos */

.fondo1 {
    background-image: url(../assets/img/fondos/fondo1.jpg);
}

.fondo2 {
    background-image: url(../assets/img/fondos/fondo2.jpg);
}

.fondo3 {
    background-image: url(../assets/img/fondos/fondo3.jpg);
}

.fondo4 {
    background-image: url(../assets/img/fondos/fondo4.jpg);
}

.fondo5 {
    background-image: url(../assets/img/fondos/fondo5.jpg);
}

@import "fondos";

/* Fin fondos */

/* Enlaces externos */

@import "enlaces";

/* Enlaces externos */

/* Footer */

@import "footer";

svg {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Fin footer */


@media (min-width: 500px) {

    .section1GridH, .section2GridH, .section1GridM, .section2GridM, .section3GridM, 
    .section1GridA, .section2GridA, .section3GridA, .section1GridHis, .section2GridHis, 
    .section1GridD, .section2GridD, .section3GridD, .section4GridD {
        background-color: $celesteAcero;
        padding: 3em;
        border: 0.20em solid $blanco;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
        margin-bottom: 0;
        box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.45);
    }

}

@media (min-width: 1024px) {

    .section1GridH, .section2GridH, .section1GridM, .section2GridM, .section3GridM,
    .section1GridA, .section2GridA, .section3GridA, .section1GridHis, .section2GridHis,
    .section1GridD, .section2GridD, .section3GridD, .section4GridD {
        background-image: url(../assets/img/fondos/fondoMarmolBlanco.jpg);
    }

}